.output {
  border: 5px ridge #333333;
  width: 800px;
  height: 550px;
}
.input {
  border: 5px ridge #333333;
  width: 800px;
  height: 100px;
  margin-top: 5%;
}
h1 {
  padding: 10px;
  color: red;
  text-align: center;
  border: 5px ridge #333333;
}
.connecter {
  border: 5px ridge #333333;
  width: 200px;
  height: 665px;
}
.chatapp {
  display: flex;
  flex-direction: column;
}
.chat {
  display: flex;
  justify-content: space-around;
}
.avatar{
  width: 60px;
}
.user{
  color: red;
  border: 3px ridge #333333;
  padding: 3px;
  width: 100px;
  border-radius: 50% 20% / 10% 40%;
  margin: 1%;
}
.msg{
  border: 3px ridge #333333;
  padding: 5px;
  border-radius: 10% 10% 10% 10%;
  width: 700px;
}
.date{
  color: red;
}