.output {
  border: 5px ridge #333333;
  width: 900px;
  height: 550px;
  overflow:auto;
}
.input {
  border: 5px ridge #333333;
  width: 900px;
  height: 100px;
  margin-top: 5%;
}
h1 {
  padding: 10px;
  color: black;
  text-align: center;
  border: 5px ridge #333333;
}
.connecter {
  border: 5px ridge #333333;
  width: 200px;
  height: 665px;
}
.chatapp {
  display: flex;
  flex-direction: column;
}
.chat {
  display: flex;
  justify-content: space-around;
}
.user{
  width: 100px;
  margin: 1%;
}
.msg{
  text-align:justify;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
}
.date{
  text-align:center;
  color: black;
	font-size: 10px;
}
.avatar{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border:1.5px solid white;
}

li{
  list-style:none;
}