#texte{
  text-align: center;
  font-size: 1em;
  border-radius: 25px;
  background-color: #008082;
  margin-left: 2%;
  

}
body{
  background-color: #dcdcdc;
  width: 100%;
}
.output {
  width: 900px;
  height: 600px;
  overflow:auto;
}
.input {
  width: 850px;
  height: 100px;
  
}
h1 {
  border-radius: 25px;
  padding: 10px;
  background-color: #008082;
  text-align: center;
  border: 5px ridge #008082;
  background-color: #939393;
}
.connecter {
  overflow:auto;
  border-radius: 25px;
  background-color: #939393;
  border: 5px ridge #008082;
  width: 250px;
  height: 700px;
  opacity: 0,5;
}
.user-list{
  border-radius: 25px;
  background-color: #4ab0b2;
  text-align: center;
  margin:5px 25px 10px 2px;
}
.chatapp {
  display: flex;
  flex-direction: column;
}
.chatapp:nth-child(2){
  border: 5px ridge #008082;
  border-radius: 25px;
  background-color: #939393;
  width: 950px;
  opacity: 0,5;
}
.chat {
  display: flex;
  justify-content: space-around;
}
.user{
  width: 100px;
  margin: 1%;
}
.msg{
  text-align:justify;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #4ab0b2;
  padding: 10px;
  overflow-wrap: break-word;
}
.date{
  text-align:center;
  color: black;
	font-size: 10px;
}
.avatar{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border:1.5px solid white;
}

li{
  list-style:none;
}
.send{
width:60px;
height:60px;
border-radius: 50%;
background-image:url(./img/paper-plane\ .png);
background-color: transparent;
background-repeat: no-repeat;
background-position-x: center;
background-position-y: bottom;
border:0px;
padding: 2%;
}


@media only screen and (max-width: 600px) {
  #texte{
    text-align: center;
    font-size: 1em;
    border-radius: 25px;
    background-color: #008082;
    margin-left: 2%;
    width: 80%;
  }
  .msg{
    text-align:center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 25px;
    background-color: #4ab0b2;
    width: 90%;
    overflow-wrap: break-word;
  }
 body{
  overflow:auto;
  width: 100%;
 }
  .chat {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
.output{
width: 100%;
}

  .chatapp:nth-child(2){
    border: 5px ridge #008082;
    border-radius: 25px;
    background-color: #939393;
    width: 100%;
    height: 500px;
    opacity: 0,5;
  }
  .connecter {
    overflow:auto;
    border-radius: 25px;
    background-color: #939393;
    border: 5px ridge #008082;
    opacity: 0,5;
    width: 87%;
  }
}