@media only screen and (max-width: 600px) {
  #texte{
    text-align: center;
    font-size: 1em;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    margin-left: 2%;
    width: 80%;
    color:white;
  }
  body{
    overflow:auto;
    width: 225px;
    height: 550px;
    background-image: url(./img/relax2.jpg)no-repeat center fixed; ;
    background-size: 100% 100%; 
  }
  .navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: rgba(0,0,0,0.4);*/
    color: #6f2015;
    width: 200px;
  }
  .navitem:nth-child(1){
    font-size: 1.2em;
    color: #6f2015;
    text-align: center;
    border:3px ridge #6f2015;
    width: 70%;
    height: 45px;
    margin: 1% 5% 1% %;
    background-color: #6f91b6;
    border-radius: 25px;
  }
  .disconnect{
    width: 48px;
    height: 48px;
    border: 3px ridge #6f2015;
    border-radius: 50%;
    margin-top:0%;
    margin-left: 290%;
    text-align: center;
    font-size: 1em;
    background-image: url(./img/disconnect.png);
    background-repeat: no-repeat;
    background-color: #6f2015;
    background-position: center;

  }
  .loginEnter{
    height: 100%;
  }
  .loginEnter input{
    margin: 2% 2% 2% 5%;
    border:3px ridge #6f2015;
    font-size: 0.9em;
    text-align: center;
    height: 48px;
    background-color:#6f91b6; 
  }
  .toto{

    width: 100%;
    margin: 50% 25% 20% 20%;
    background-color: transparent;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.3); 
    border:3px ridge #6f2015;
  }
  .loginEnter button{
    border:3px solid #6f2015;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-image: url(./img/power.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 5%;
    margin-left: 40%; 
    margin-top: 1%;
  }
  .loginEnter h1{
    text-align: center;
    color: #6f2015;
    border:3px ridge #6f2015;
    width: 60%;
    margin: 15% 5% 20% 40%;
    font-size: 1.5em;
    background-color: #6f91b6;
    border-radius:25px;
  }
  .chatapp:nth-child(2){
    border: 5px ridge #6f2015;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.4);
    opacity: 0,5;
    width: 250px;
    height: 350px;
    margin-left: 20%;
    margin-right: -3%;
  }
  .output{
    height: 280px;
    width: 325px;
    overflow:auto;

  }
  .input {
    width: 80%;
    height: 60px;
  }
  .msg{
    text-align:justify;
    margin-left: 1%;
    border-radius: 25px;
    background-color: #6f91b6;
    padding: 10px;
    overflow-wrap: break-word;
    width: 70%;
  }
  .chat {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  ::placeholder{
    text-align: center;
    color: #6f2015;
  }
  .connecter {
    overflow:auto;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.4);
    border: 5px ridge #6f2015;
    width: 30px;
    height: 350px;
    margin-left: 60%;
    
  }
.display{
  display:none;
}
  .date{
    text-align:center;
    color: white;
    font-size: 10px;
    margin-left: 5%;
    margin-top: 1%;
  }
  .avatar{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1.5px solid white;
    margin-right: 10%;
  }
  .pseudo{
    color:white;
  }
  .user-list{
    border-radius: 25px;
    margin:5px 0px 0px 3px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    justify-items: center;
  }
  .user{
    width: 100px;
    margin: 1%;
    margin-left: 0%;
  }
  .send{
    border:3px solid #6f91b6;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-image:url(./img/power.png);
    background-color: #6f2015;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    padding: 1%;
  
  }
  /*Footer*/
.FooterGithub{
  text-align: center;
  width: 50%;
  height: 40px;
  margin: 0% 0% 0% 50%;


}
  .ImgGithub{
  border:3px ridge #6f2015;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  }
  
  .ListGithub {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 0px;
  }


  }